<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta th:replace="common :: header">
  <title th:text="'关于 - '+${siteConfig.siteName}">关于</title>
</head>
<body>
<div id="app">
  <div th:replace="common :: menu"></div>

  <div id="main" class="ui left aligned container">
    <div class="ui left aligned container">
      <div class="ui breadcrumb">
        <a class="section" href="/">首页</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">关于</div>
      </div>
      <div class="ui divider"></div>
      <div class="ui vertical stripe segment">
        <div class="ui text container">
          <h3 class="ui header">我的笔记</h3>
          <p>支持多用户的笔记系统。</p>
          <p>本站使用<a href="https://vuejs.org/" target="_blank">Vue</a>(TypeScript) +
            <a href="https://spring.io/" target="_blank">Spring</a>(Kotlin)开发。</p>
          <p>UI框架：
            <a href="https://semantic-ui.com/" target="_blank">Semantic UI</a>，
            <a href="https://element.eleme.cn/" target="_blank">Element</a>
          </p>
          <p>分享关于Java，Kotlin，Spring，云计算，大数据，Vue，nodejs等技术学习笔记。</p>
          <a class="ui large button" href="https://gitee.com/power/notebook" target="_blank">Read More</a>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="common :: footer"></div>
</div>
</body>
</html>
