<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta th:replace="common :: header">
  <title th:text="${category.name}+' - '+${siteConfig.siteName}">Category</title>
</head>
<body>
<div id="app">
  <div th:replace="common :: menu"></div>

  <div id="main" class="ui left aligned container">
    <div class="ui breadcrumb">
      <a class="section" href="/home.html">首页</a>
      <i class="right chevron icon divider"></i>
      <a class="section" href="/categories.html">分类</a>
      <i class="right chevron icon divider"></i>
      <div class="active section" th:text="${category.name}"></div>
    </div>
    <div class="ui divider"></div>

    <div class="ui center aligned raised segment">
      <h1 class="ui header" th:text="${category.name}"></h1>
      <div class="metadata">
        创建于<span class="datetime" th:text="${category.createdTime}"></span>
      </div>
      <div class="ui info message" th:if="${category.description}!=''" th:text="${category.description}"></div>
    </div>

    <div class="ui raised segment">
      <div class="ui warning message" th:if="${notes.size}==0">
        还没有笔记。
      </div>
      <div class="ui divided items">
        <div class="item" th:each="note: ${notes}">
          <div class="content">
            <a class="header" th:href="'/notes/'+(${note.slug} and ${note.slug}!=''?${note.slug}:${note.id})+'.html'"
               th:text="${note.title}"></a>
            <div class="meta">
              <a th:href="'/users/'+${note.author.id}+'.html'" th:text="'@'+${note.author.username}"></a>
              发布于
              <a th:href="'/notebooks/'+${note.notebook.id}+'.html'" th:text="${note.notebook.name}"></a>
            </div>
            <div class="extra" th:if="${note.version}>1">
              更新于<span class="datetime" th:text="${note.updatedTime}"></span>
            </div>
            <div class="extra" th:if="${note.version}==1">
              创建于<span class="datetime" th:text="${note.createdTime}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div th:replace="common :: pagination"></div>
  </div>

  <div th:replace="common :: footer"></div>
</div>
</body>
</html>
